name: Lint

on:
  workflow_call:
    inputs:
      go_version:
        required: true
        type: string

jobs:
  golangci-lint:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ inputs.go_version }}

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          working-directory: "."
          args: --timeout=5m
