name: Scan Vulnerabilities

on:
  workflow_call:

permissions:
  contents: read

jobs:
  trivy-fs:
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Trivy (filesystem)
        uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: "fs"
          scan-ref: "."
          format: "table"
          vuln-type: "os,library"
          severity: "CRITICAL,HIGH"
