name: Scan Secrets

on:
  workflow_call:

permissions:
  contents: read

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: Scan for secrets with gitleaks
        uses: gitleaks/gitleaks-action@v2
        with:
          args: detect --source . --no-git -v
