name: Test

on:
  workflow_call:
    inputs:
      go_version:
        required: true
        type: string

permissions:
  contents: read

jobs:
  go-test:
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ inputs.go_version }}

      - name: Run tests
        working-directory: "."
        run: go test ./...
